@model List<LatestCarServiceModel>

@{
    ViewData["Title"] = "Home Page";
}

@*@{
    var cras = Model.Cars;
    var firstCar = cras.Any() ? cras[0] : null;
    var secondCar = cras.Count > 1 ? cras[1] : null;
    var thirdCar = cras.Count > 2 ? cras[2] : null;
    }*@

<div class="mb-5"></div>

@if (!Model.Any())
{
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the best plase for renting cars!</h1>
        <p class="lead">There are not cars in the system currently available so why dont you just add one?</p>
        <hr class="my-4">
        <p class="lead">
            <a asp-controller="Cars" asp-action="Add" class="btn btn-primary btn-lg" role="button">Add Car</a>
        </p>
    </div>
}




<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (var i = 0; i < Model.Count; i++)
        {
            var car = Model[i];

            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img src="@car.ImageUrl" class="d-block w-100" alt="@car.Brand @car.Model">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a class="btn btn-primary" asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" asp-route-information="@car.ToFriendlyUrl()">@car.Year @car.Brand @car.Model</a></h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="mb-5"></div>

<div class="jumbotron d-none" id="statistics">
@*<div class="jumbotron">*@
    <div class="row">
        @*<h2 class="col-md-4 text-center">
            @Model.TotalCars Cars
        </h2>
        <h2 class="col-md-4 text-center">
            @Model.TotalUsers Users
        </h2>
        <h2 class="col-md-4 text-center">
            @Model.TotalRents Rents
        </h2>*@
        <h2 class="col-md-4 text-center" id="total-cars"></h2>
        <h2 class="col-md-4 text-center" id="total-users"></h2>
        <h2 class="col-md-4 text-center" id="total-rents"></h2>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics-button">Show Statistics</button>
    </div>
</div>

@section Scripts {
    <script>
        $('#statistics-button').on('click', ev => {
            $.get('api/statistics', (data) => {
              $('#total-cars').text(data.totalCars + " Cars");
              $('#total-users').text(data.totalUsers + " Users");
              $('#total-rents').text(data.totalRents + " Rents");

              $('#statistics').removeClass('d-none');
              $('#statistics-button').hide();
            })
        })
    </script>
}
